.container {
    margin-top: 3rem;
    padding: 5rem 16rem;

    text-align: center;

    h3 {
        font-size: 2rem;
        font-weight: normal;
        letter-spacing: 3px;
    }

    > span {
        margin-top: 1.5rem;

        display: inline-block;

        color: grey;
        font-size: 0.9rem;
        font-style: italic;
    }

    p {
        margin-top: 1.5rem;

        text-align: justify;
        line-height: 1.3;
    }

    .membersGroup {
        margin-top: 1.5rem;

        display: flex;
        justify-content: space-evenly;
    }
}
