.container {
    height: 850px;
    padding: 5rem auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;

    h3 {
        font-size: 2rem;
        font-weight: normal;
        letter-spacing: 3px;
    }

    > span {
        margin-top: 1.5rem;

        display: inline-block;

        color: grey;
        font-size: 0.9rem;
        font-style: italic;
    }

    p {
        max-width: 800px;
        margin: 1.5rem 1rem 0;

        text-align: justify;
        line-height: 1.3;
    }

    .membersGroup {
        width: 100%;
        max-width: 800px;
        margin-top: 1.5rem;

        display: flex;
        justify-content: space-around;
    }
}

@media (max-width: 615px) {
    .container {
        height: 1700px
    }
    .membersGroup {
        margin-bottom: 1rem;
        flex-direction: column;
    }
}