.container {
    width: 100%;

    display: flex;
    justify-content: space-between;

    position: fixed;
    top: 0;
    z-index: 1;

    background-color: rgb(30, 30, 30);
    font-size: 0.75rem;
    font-weight: bold;

    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);

    ul {
        display: flex;

        > li {
            padding: 1rem 1.5rem;

            position: relative;
            
            list-style: none;
            color: white;
            background-color: rgb(30, 30, 30);
            
            cursor: pointer;

            &:hover {
                color: black;
                background-color: rgb(220, 220, 220);
            }

            .moreOptions {
                min-width: 150px;

                position: absolute;
                left: 0;
                top: 3rem;

                display: none;

                font-weight: normal;

                box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);

                ul {
                    display: flex;
                    flex-direction: column;

                    li {
                        padding: 0.75rem 1.25rem;

                        color: black;
                        background-color:white;
                        
                        &:hover {
                            background-color: rgb(220, 220, 220);
                        }
                    }
                }
            }
        }
    }

    button {
        padding: 1rem 1.5rem;

        background-color:rgb(30, 30, 30);

        border: none;

        cursor: pointer;

        &:hover {
            background-color:crimson;
        }

        svg {
            fill: white;
        }
    }
}
