.container {
    display: flex;
    justify-content: space-between;

    background-color: rgb(30, 30, 30);
    color: white;

    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);

    ul {
        display: flex;

        > li {
            padding: 1rem 1.5rem;

            position: relative;
            
            list-style: none;
            background-color: rgb(30, 30, 30);
            
            cursor: pointer;

            &:hover {
                background-color: rgb(220, 220, 220);
                color: black;
            }

            .moreOptions {
                min-width: 200px;

                position: absolute;
                left: 0;
                top: 3.1rem;

                box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
                display: none;

                ul {
                    display: flex;
                    flex-direction: column;

                    li {

                        background-color:white;
                        color: black;
                        
                        &:hover {
                            background-color: rgb(220, 220, 220);
                        }
                    }
                }
            }
        }
    }

    button {
        padding: 1rem 1.5rem;

        border: none;

        background-color:rgb(30, 30, 30);

        cursor: pointer;

        &:hover {
            background-color:red;
        }

        svg {
            fill: white;
        }
    }
}
