.container {
    width: 100%;

    position: fixed;
    top: 0;
    z-index: 1;

    background-color: rgb(30, 30, 30);
    font-size: 0.75rem;
    font-weight: bold;

    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);

    user-select: none;

    .collapsed {
        display: none;
        flex-direction: row;
        justify-content: space-between;

        > svg {
            padding: 1rem 1.5rem;
            fill: white;
            font-size: 1rem;

            cursor: pointer;

            &:hover {
                fill: black;
                background-color: rgb(220, 220, 220);
            }
        }

        button {
            padding: 1rem 1.5rem;

            background-color: rgb(30, 30, 30);

            border: none;

            cursor: pointer;

            &:hover {
                background-color: crimson;
            }

            svg {
                fill: white;
            }
        }
    }

    .expanded {
        width: 100%;

        display: flex;
        justify-content: space-between;

        ul {
            display: flex;

            > li {
                position: relative;

                list-style: none;
                color: white;
                background-color: rgb(30, 30, 30);

                cursor: pointer;

                &:hover {
                    color: black;
                    background-color: rgb(220, 220, 220);

                    a {
                        color: black;
                    }
                }

                a {
                    padding: 1rem 1.5rem;

                    display: flex;

                    color: white;
                    text-decoration: none;
                }

                span {
                    padding: 1rem 1.5rem;

                    display: inline-block;
                }

                .moreOptions {
                    span {
                        color: red;
                    }
                    min-width: 150px;

                    position: absolute;
                    left: 0;
                    top: 3rem;

                    display: none;

                    font-weight: normal;

                    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);

                    ul {
                        display: flex;
                        flex-direction: column;

                        li {
                            padding: 0.75rem 1.25rem;

                            color: black;
                            background-color: white;

                            &:hover {
                                background-color: rgb(220, 220, 220);
                            }
                        }
                    }
                }
            }
        }

        button {
            padding: 1rem 1.5rem;

            background-color: rgb(30, 30, 30);

            border: none;

            cursor: pointer;

            &:hover {
                background-color: crimson;
            }

            svg {
                fill: white;
            }
        }
    }
}

@media (max-width: 615px) {
    .container {
        flex-direction: column;

        .collapsed {
            display: flex;
        }

        .expanded {
            display: none;
            flex-direction: column;
            
            ul {
                flex-direction: column;
                
                li {
                    .moreOptions {
                        width: 100%;
                        top: 2.88rem;
                    }
                }
            }

            button {
                display: none;
            }
        }
    }
}
