.container {
    display: flex;
    flex-direction: column;

    &:not(:first-of-type) {
        margin-left: 1rem;
    }

    span {
        margin-bottom: 0.5rem;
    }

    img {
        height: 250px;
        width: 200px;
        object-fit: cover;
    }
}

@media (max-width: 615px) {
    .container {
        margin: auto 1.5rem 0.75rem;
    }
}
