.container {
    display: flex;
    flex-direction: column;

    color: black;
    background-color: white;

    &:not(:last-of-type) {
        margin-right: 1rem;
    }

    img {
        width: 100%;
        object-fit: cover;
    }

    div {
        padding: 1rem;

        display: flex;
        flex-direction: column;

        font-size: 0.9rem;

        .local {
            font-weight: bold;
            margin-bottom: 1rem;
        }

        .date {
            color: grey;
            margin-bottom: 1rem;
        }

        p {
            margin-bottom: 1rem;
        }

        button {
            width: max-content;
            padding: 0.75rem 1rem;

            color: white;
            background-color: black;

            border: none;

            cursor: pointer;

            &:hover {
                color: black;
                background-color: rgb(200, 200, 200);
            }
        }
    }
}
