.container {
    margin-top: 5rem;
    height: fit-content;
    padding: 5rem 1rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: white;
    background-color: black;

    h3 {
        font-weight: normal;
        font-size: 2rem;
        letter-spacing: 3px;
    }

    > span {
        margin-top: 1.5rem;

        color: grey;
        font-style: italic;
        font-size: 0.9rem;
    }

    .ticketsGroup {
        width: 100%;
        max-width: 850px;
        margin-top: 2rem;
    }

    .showLocationGroup {
        max-width: 850px;
        margin-top: 2rem;

        display: flex;
        justify-content: space-between;
    }
}

@media (max-width: 615px) {
    .container {
        height: fit-content;
        padding: 5rem 0;
    }
    .showLocationGroup {
        flex-direction: column;
    }
}
