.container {
    padding: 5rem 18rem;

    display: flex;
    flex-direction: column;
    align-items: center;

    color: white;
    background-color: black;

    h3 {
        font-weight: normal;
        font-size: 2rem;
        letter-spacing: 3px;
    }

    > span {
        margin-top: 1.5rem;

        color: grey;
        font-style: italic;
        font-size: 0.9rem;
    }

    .ticketsGroup {
        width: 100%;
        margin-top: 2rem;
    }

    div.showLocationGroup {
        margin-top: 2rem;

        display: flex;
        justify-content: space-between;
    }
}
